:root {
  --BgMain: #060606;
  --BgPrimary: #111111;
  --BgSecondary: #202020;

  --FgPrimary: #E0E0E0;
  --FgSecondary: #898989;
  --FgTertiary: #323232;
  --FgCuartionary: #bebebe;

  --LightPrimary: #13BF51;
  --LightSecondary: #FF0000;
  --LightTertiary: #14ad4c;

  --StrokeDef: #202020
}

@font-face {
  font-family: "Satoshi Black";
  src: url("/Satoshi-Black.ttf") format('truetype');
}

@font-face {
  font-family: "Satoshi Bold";
  src: url("/Satoshi-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "Satoshi Medium";
  src: url("/Satoshi-Medium.ttf") format('truetype');
}

@font-face {
  font-family: "Satoshi Regular";
  src: url("/Satoshi-Regular.ttf") format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  appearance: none;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--StrokeDef);
}

path {
  strokeWidth: 2.25;
}

body {
  background-color: var(--BgMain);
}

a {
  text-decoration: none;
  color: var(--FgPrimary);
}

button {
  background-color: transparent;
  border: none;
}

input:focus,
button:focus {
  border: none;
  outline: none;
}

svg {
  transform: scale(0.8);
}

#Application {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "Navbar Navbar"
    "library Main";
  grid-template-rows: 50px calc(100% - 57px);
}

.Application-Complete {
  grid-template-columns: 204px calc(100% - 204px);
}

.Application-Compact {
  grid-template-columns: 70px calc(calc(100% + 134px) - 204px);
}