nav#Topbar {
    -webkit-app-region: drag;
    padding: 0 0 0 7px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    display: grid;
    grid-area: Navbar;
    /* grid-template-columns: calc(60% - 7px) calc(40% - 150px) 150px; */
    grid-template-areas: "Links Buttons WinControls";
    overflow: hidden;
    font-family: "Satoshi Medium", sans-serif;
}

#Topbar-Buttons-Buttons-Forward:hover {
    color: var(--FgPrimary);
}

#Topbar-Links {
    grid-area: Links;
}

#Topbar-Buttons {
    grid-area: Buttons;
}

#Topbar-WinControls {
    grid-area: WinControls;
}

#Topbar-Links a,
#Topbar-Links button,
#Topbar-Buttons a,
#Topbar-Buttons button,
#Topbar-WinControls button {
    -webkit-app-region: no-drag;
}

#Topbar-Links,
#Topbar-Buttons,
#Topbar-WinControls {
    font-family: "Satoshi Bold";
    display: flex;
    align-items: center;
}

.Topbar-Links-Buttons,
#Topbar-Buttons-Premiun {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

#Topbar-Buttons-Premiun {
    position: relative;
    width: 130px;
    height: 35px;
    background: var(--LightTertiary);
    transition: all .1s ease;
    overflow: hidden;
}

#Topbar-Buttons-Premiun::after {
    position: relative;
    content: "Premiun";
    transition: all .1s ease;
}

@media (max-width: 1335px) {

    #Topbar-Buttons-Premiun {
        position: relative;
        width: 40px;
        height: 35px;
        background: var(--LightTertiary);
    }

    #Topbar-Buttons-Premiun svg {
        transform: scale(.9) !important;
    }

    #Topbar-Buttons-Premiun::after {
        width: 0;
        overflow: hidden;
    }
}

#TopbarSearch,
#LibraryLink {
    width: 190px;
}

.Topbar-Links-Buttons {
    border-radius: 10px;
    margin: 0 7px 0 0;
    width: 160px;
    height: 35px;
}

#LibraryLink.Topbar-Links-Buttons {
    position: relative;
    border-radius: 10px 10px 0 0;
}

#LibraryLink.Topbar-Links-Buttons-Selected::after {
    position: absolute;
    bottom: -7px;
    left: 0;
    content: "";
    width: 100%;
    height: 10px;
    background-color: var(--BgPrimary);
}

#Topbar-Links-Buttons-Search {
    width: 130px;
    height: 25px;
    border: none;
    box-sizing: border-box;
    color: var(--FgPrimary);
    background: transparent;
    font-family: "Satoshi Bold";
    font-size: 16px;
}

#Topbar-Links-Buttons-Search:focus {
    outline: none;
    --StrokeDef: #202020 border-bottom: 1px solid var(--);
}

.Topbar-Links-Buttons,
.Topbar-Buttons-Buttons {
    color: var(--FgSecondary);
}

.Topbar-Links-Buttons-Selected {
    color: var(--FgPrimary);
    background-color: var(--BgPrimary);
}

#Topbar-Buttons-Premiun,
.ProfilePictureAccountSelect,
.Topbar-Buttons-Buttons {
    border-radius: 25px;
}

.ProfilePictureAccountSelect,
.Topbar-Buttons-Buttons,
.Topbar-WinControls-Buttons {
    display: grid;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
}

#Topbar-Buttons,
#Topbar-WinControls {
    justify-content: flex-end;
}

.Topbar-Buttons-Buttons,
.Topbar-WinControls-Buttons {
    width: 50px;
    height: 50px;
}

.ProfilePictureAccountSelect {
    outline: 3px var(--FgPrimary) solid;
}


#Topbar-Buttons-Premiun svg,
.Topbar-Buttons-Buttons-ProfilePictureAccount,
.Topbar-Links-Buttons svg,
.Topbar-WinControls-Buttons svg {
    transform: scale(0.7);
}

#Topbar-Buttons>.Topbar-Buttons-Buttons:hover {
    background: radial-gradient(var(--BgSecondary) 0 50%, transparent 50% 100%);
}

.Topbar-WinControls-Buttons:hover {
    background-color: var(--FgTertiary);
}

#Topbar-WinControls-Close:hover {
    background-color: var(--LightSecondary);
}


#Topbar-Links>.Topbar-Buttons-Buttons {
    height: 35px;
    margin: 0 7px 0 0;
}

#Topbar-Links>.Topbar-Buttons-Buttons:hover {
    background-color: var(--BgPrimary);
}

.Topbar-Links-Buttons:hover {
    background-color: var(--BgPrimary);
    border-radius: 10px !important;
}