#Main {
    color: var(--FgPrimary);
    display: flex;
    grid-area: Main;
    padding: 0 7px 0px 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

#MainContent {
    grid-area: Principal;
    overflow: hidden;
    padding: 1px 1px 2px;
    border-radius: 12px;
    width: 100%;
    height: calc(100% - 90px);
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "Content Friends";
    justify-content: space-between;
    justify-items: end;
}

#MainContent-Home {
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: 26px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: 1px var(--StrokeDef) solid;
}

#MainContent-Home::-webkit-scrollbar {
    appearance: none;
    width: 5px;
}

#MainContent-Home::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--StrokeDef);
}

#MainContent-Home-Content {
    grid-area: Content;
}

/*-------------- Componente --------------*/
.MainContent-Section {
    font-family: "Satoshi Bold";
}

.MainContent-Section-Options-Title {
    height: 40px;
    margin: 5px 0;
    display: grid;
    place-items: center;
}

.MainContent-Section-Options,
.MainContent-Section-Options-Scroll,
.MainContent-Section-List {
    display: flex;
}

.MainContent-Section-List {
    overflow: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.MainContent-Section-List::-webkit-scrollbar {
    height: 0px;
}

.MainContent-Section-Options {
    justify-content: space-between;
}

.MainContent-Section-Options-Scroll {
    width: 100px;
    align-items: center;
    justify-content: space-evenly;
}

.MainContent-Section-Options-Scroll * {
    color: var(--FgPrimary);
}

.MainContent-Section-Options-ScrollLeft,
.MainContent-Section-Options-ScrollRight {
    display: grid;
    place-content: center;
    border-radius: 25px;
    width: 40px;
    height: 40px;
}

.MainContent-Section-Options-ScrollLeft svg,
.MainContent-Section-Options-ScrollRight svg {
    transform: scale(.8);
}

.MainContent-Section-Options-ScrollLeft:hover,
.MainContent-Section-Options-ScrollRight:hover {
    background-color: var(--BgPrimary);
}