#Main {
    color: var(--FgPrimary);
    display: flex;
    grid-area: Main;
    padding: 0 7px 0px 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

#MainContent {
    grid-area: Principal;
    overflow: hidden;
    padding: 1px 1px 2px;
    border-radius: 12px;
    width: 100%;
    height: calc(100% - 80px);
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "Content Sidebar";
    justify-content: space-between;
    justify-items: end;
}

#Sidebar {
    grid-area: Sidebar;
    overflow: hidden;
    overflow-y: auto;
}

#MainContent-Home {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    outline: 1px var(--StrokeDef) solid;
}

#MainContent-Home-Content {
    grid-area: Content;
}

/*-------------- Componente --------------*/
.MainContent-Section {
    padding: 26px;
    font-family: "Satoshi Bold";
}

.MainContent-Section-Options-Title {
    height: 40px;
    margin: 5px 0;
    display: grid;
    place-items: center;
}

.MainContent-Section-Options,
.MainContent-Section-Options-Scroll,
.MainContent-Section-List {
    display: flex;
}

.MainContent-Section-List {
    overflow: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.MainContent-Section-List::-webkit-scrollbar {
    height: 0px;
}

.MainContent-Section-Options {
    justify-content: space-between;
}

.MainContent-Section-Options-Scroll {
    width: 100px;
    align-items: center;
    justify-content: space-evenly;
}

.MainContent-Section-Options-Scroll * {
    color: var(--FgPrimary);
}

.MainContent-Section-Options-ScrollLeft,
.MainContent-Section-Options-ScrollRight {
    display: grid;
    place-content: center;
    border-radius: 25px;
    width: 40px;
    height: 40px;
}

.MainContent-Section-Options-ScrollLeft svg,
.MainContent-Section-Options-ScrollRight svg {
    transform: scale(.8);
}

.MainContent-Section-Options-ScrollLeft:hover,
.MainContent-Section-Options-ScrollRight:hover {
    background-color: var(--BgPrimary);
}

/* -------- Now Playing -------- */

#NowPlaying {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: appear .15s ease-out;
}

@keyframes appear {
    0% {
        margin: 100% 0 0 0;
    }

    100% {
        margin: 0;

    }
}

#NowPlaying-Content {
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    height: calc(100% + calc(100% - 404px));
}

#NowPlaying-Content-NoLirycs {
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    height: 100%
}

#NowPlaying-Content-TopDetails {
    padding: 37px;
    display: flex;
}

#NowPlaying-Content-DownDetails {
    overflow: hidden;
    height: 100%;
}

#NowPlaying-Content-DownDetails-Lirycs {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
    padding: 37px;
    width: calc(100% - 74px);
    display: flex;
    justify-content: center;
}

#NowPlaying-Content-DownDetails-Lirycs-Container {
    position: absolute;
    transition: .2s ease;
}

#NowPlaying-Content-DownDetails-Navbar {
    font-family: "Satoshi Medium";
    height: 50px;
    display: flex;
    padding: 0 37px;
    list-style: none;
    box-sizing: border-box;
    border-bottom: 1px solid var(--FgPrimary);
}

.NowPlaying-Content-DownDetails-Navbar-Options:nth-child(even) {
    margin: 0 30px;
}

#NowPlaying-Content-DownDetails-Navbar-Selected {
    border-bottom: 5px var(--Primary) solid;
}

.NowPlaying-Content-DownDetails-Navbar-Options {
    padding: 16px 8px;
    display: grid;
    height: 15px;
    place-content: center;
    cursor: pointer;
}

.NowPlaying-Content-DownDetails-Lirycs-Text {
    font-family: "Satoshi Bold";
    height: 40;
    font-size: 28px;
    cursor: default;
    margin: 5px 0;
}

.NowPlaying-Content-DownDetails-Lirycs-Text-Pass {
    color: var(--FgPrimary);
}

.NowPlaying-Content-DownDetails-Lirycs-Text-NonPass {
    color: var(--LirycsOpaque);
}

#NowPlaying-Content-Image {
    margin: 0 50px 0 0;
}

#NowPlaying-Content-Image,
#NowPlaying-Content-Image img {
    border-radius: 10px;
    width: 500px;
    height: 500px;
    transition: ease .1s;
}

#NowPlaying-Content-ImageSmall {
    margin: 0 50px 0 0;
}

#NowPlaying-Content-ImageSmall,
#NowPlaying-Content-ImageSmall img {
    border-radius: 10px;
    width: 350px;
    height: 350px;
    transition: ease .1s;
}

#NowPlaying-Content-SongDetails {
    width: fit-content;
}

#NowPlaying-Content-SongDetails-Name {
    font-family: "Satoshi Bold";
    font-size: 36px;
    margin: 0 0 20px 10px;
}

#NowPlaying-Content-SongDetails-Description {
    height: 24px;
    display: flex;
    align-items: center;
}

#NowPlaying-Content-SongDetails-Description a {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#NowPlaying-Content-SongDetails-Description svg {
    width: 30px;
}

.NowPlaying-Content-SongDetails-Description-Text {
    text-align: center;
}

.NowPlaying-Content-SongDetails-Description-Separators {
    margin: 0 10px 0 18px;
    font-size: 3px;
}

#NowPlaying-Content-SongDetails-Description * {
    font-family: "satoshi Regular";
    font-size: 14px;
}

#NowPlaying-Content-Options {
    height: 40px;
    display: flex;
    margin: 20px 0;
    align-items: center;
}

#NowPlaying-Content-Options-Play {
    cursor: pointer;
}

#NowPlaying-Content-SongGenres {
    display: flex;
    flex-wrap: wrap;
}

#NowPlaying-Content-Artist {
    margin: 20px 0;
}

.NowPlaying-Content-SongGenres-Elements {
    padding: 10px 20px;
    margin: 5px;
    height: 20px;
    border-radius: 44px;
    border: 2px rgba(137, 137, 137, 25%) solid;
    color: var(--FgSecondary);
    font-family: "satoshi Medium";
    font-size: 15px;
}

.NowPlaying-Content-SongGenres-Elements:hover {
    color: var(--FgPrimary);
    border: 2px var(--FgPrimary) solid;
}

.NowPlaying-Content-Artist-Element * {
    font-family: "Satoshi Medium";
    font-size: 16px;
}

.NowPlaying-Content-Artist-Element {
    height: 60px;
    display: flex;
}

.NowPlaying-Content-Artist-Element-Image {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 0 20px 0 0;
}

.NowPlaying-Content-Artist-Element-Details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.NowPlaying-Content-Artist-Element-Details p {
    color: var(--FgPrimary);
}

.NowPlaying-Content-Artist-Element-Details span {
    color: var(--FgSecondary);
}

/* ------ Playlist Styles ------ */

#Playlist{
    display: flex;
    width: 100%;
}

#Playlist-Content {
    width: 100%;
    padding: 37px;
}

#Playlist-Content-Details {
    width: fit-content;
}

#Playlist-Content-Details-Name {
    font-family: "Satoshi Bold";
    font-size: 36px;
    margin: 0 0 20px 6px;
}

#Playlist-Content-Details-Description {
    font-family: "Satoshi Medium";
    margin: 0 0 20px 9px;
}

#Playlist-Content-SongDetails-Description {
    height: 24px;
    display: flex;
    align-items: center;
    margin: 20px 0 20px 6px;
}

#Playlist-Content-SongDetails-Description * {
    font-family: "satoshi Regular";
    font-size: 14px;
    color: var(--FgSecondary);
}

#Playlist-Content-SongDetails-Description a {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Playlist-Content-SongDetails-Description svg {
    width: 30px;
}

.Playlist-Content-SongDetails-Description-Text {
    text-align: center;
}

.Playlist-Content-SongDetails-Description-Separators {
    margin: 0 15px;
    font-size: 3px;
}

#Playlist-Content-List {
    width: 100%;
    height: 50px;
}


#Playlist-Content-List-Header {
    display: grid;
    grid-template-areas: "Number Title Duration";
    grid-template-columns: 30px 300px 150px;
    padding: 0 0 10px;
    border-bottom: 2px var(--FgPrimary) solid;
    margin: 0 0 10px 0;
}

#Playlist-Content-List-Header * {
    font-family: "satoshi Regular";
    color: var(--FgPrimary);
    margin: 0 0 0 15px;
}

#Playlist-Content-List-Header-Number {
    grid-area: Number;
}

#Playlist-Content-List-Header-Title {
    grid-area: Title;
}

#Playlist-Content-List-Header-Duration {
    grid-area: Duration;
}

#Playlist-Content-List-Content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.Playlist-Content-List-Content-Element {
    display: grid;
    grid-template-areas: "Number Title Duration Options";
    grid-template-columns: 30px 300px 150px;
    margin: 5px 0;
    padding: 5px 0;
    height: 45px;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.Playlist-Content-List-Content-Element:focus {
    background: var(--BgSecondary);
}

.Playlist-Content-List-Content-Element:hover {
    background: var(--BgPrimary);
}

.Playlist-Content-List-Content-Element * {
    font-family: "Satoshi Medium";
}

.Playlist-Content-List-Content-Element-Number {
    grid-area: Number;
    width: 30px;
    height: 30px;
    margin: 0 0 0 4px;
    display: grid;
    place-content: center;
    color: var(--FgSecondary);
}

.Playlist-Content-List-Content-Element-Data {
    grid-area: Title;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 15px;
}

.Playlist-Content-List-Content-Element-Data small * {
    color: var(--FgSecondary);
}

.Playlist-Content-List-Content-Element-Duration {
    grid-area: Duration;
    margin: 0 0 0 15px;
    color: var(--FgSecondary);
}

#Playlist-Sidebar {
    width: calc(500px - 74px);
    padding: 37px 37px 37px 0;
    height: fit-content;
}

#Playlist-Sidebar img {
    border-radius: 10px;
}

#Playlist-Sidebar-SongGenres {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 0;
}

.Playlist-Sidebar-SongGenres-Elements {
    padding: 10px 20px;
    margin: 5px;
    height: 20px;
    border-radius: 44px;
    border: 2px rgba(137, 137, 137, 25%) solid;
    color: var(--FgSecondary);
    font-family: "satoshi Medium";
    font-size: 15px;
}

.Playlist-Sidebar-SongGenres-Elements:hover {
    color: var(--FgPrimary);
    border: 2px var(--FgPrimary) solid;
}

