#Main {
    color: var(--FgPrimary);
    display: flex;
    grid-area: Main;
    padding: 0 7px 0px 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

#MainContent {
    grid-area: Principal;
    overflow: hidden;
    padding: 1px 1px 2px;
    border-radius: 12px;
    width: 100%;
    height: calc(100% - 85px);
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "Content Sidebar";
    justify-content: space-between;
    justify-items: end;
}

#Sidebar {
    grid-area: Sidebar;
    overflow: hidden;
    overflow-y: auto;
}

#MainContent-Home {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    outline: 1px var(--StrokeDef) solid;
}

#MainContent-Home-Content {
    grid-area: Content;
}

/*-------------- Componente --------------*/
.MainContent-Section {
    padding: 26px;
    font-family: "Satoshi Bold";
}

.MainContent-Section-Options-Title {
    height: 40px;
    margin: 5px 0;
    display: grid;
    place-items: center;
}

.MainContent-Section-Options,
.MainContent-Section-Options-Scroll,
.MainContent-Section-List {
    display: flex;
}

.MainContent-Section-List {
    overflow: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.MainContent-Section-List::-webkit-scrollbar {
    height: 0px;
}

.MainContent-Section-Options {
    justify-content: space-between;
}

.MainContent-Section-Options-Scroll {
    width: 100px;
    align-items: center;
    justify-content: space-evenly;
}

.MainContent-Section-Options-Scroll * {
    color: var(--FgPrimary);
}

.MainContent-Section-Options-ScrollLeft,
.MainContent-Section-Options-ScrollRight {
    display: grid;
    place-content: center;
    border-radius: 25px;
    width: 40px;
    height: 40px;
}

.MainContent-Section-Options-ScrollLeft svg,
.MainContent-Section-Options-ScrollRight svg {
    transform: scale(.8);
}

.MainContent-Section-Options-ScrollLeft:hover,
.MainContent-Section-Options-ScrollRight:hover {
    background-color: var(--BgPrimary);
}

/* -------- Now Playing -------- */

#NowPlaying {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#NowPlaying-Content {
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    height: calc(100% + calc(100% - 404px));
}

#NowPlaying-Content-NoLirycs {
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    height: 100%
}

#NowPlaying-Content-TopDetails {
    padding: 37px;
    display: flex;
}

#NowPlaying-Content-DownDetails {
    overflow: hidden;
    height: 100%;
}

#NowPlaying-Content-DownDetails-Lirycs {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
    padding: 37px;
    width: calc(100% - 74px);
}

#NowPlaying-Content-DownDetails-Lirycs-Container {
    position: absolute;
    transition: .2s ease;
}

#NowPlaying-Content-DownDetails-Navbar {
    font-family: "Satoshi Medium";
    height: 50px;
    display: flex;
    padding: 0 37px;
    list-style: none;
    box-sizing: border-box;
    border-bottom: 1px solid var(--FgPrimary);
}

.NowPlaying-Content-DownDetails-Navbar-Options:nth-child(even) {
    margin: 0 30px;
}

#NowPlaying-Content-DownDetails-Navbar-Selected {
    border-bottom: 5px var(--Primary) solid;
}

.NowPlaying-Content-DownDetails-Navbar-Options {
    padding: 16px 8px;
    display: grid;
    height: 15px;
    place-content: center;
    cursor: pointer;
}

.NowPlaying-Content-DownDetails-Lirycs-Text {
    font-family: "Satoshi Bold";
    height: 38;
    font-size: 28px;
    cursor: default;
}

.NowPlaying-Content-DownDetails-Lirycs-Text:nth-child(even) {
    margin: 15px 0;
}

.NowPlaying-Content-DownDetails-Lirycs-Text-Pass {
    color: var(--FgPrimary);
}

.NowPlaying-Content-DownDetails-Lirycs-Text-NonPass {
    color: var(--LirycsOpaque);
}

#NowPlaying-Content-Image {
    margin: 0 50px 0 0;
}

#NowPlaying-Content-Image,
#NowPlaying-Content-Image img {
    border-radius: 10px;
    width: 500px;
    height: 500px;
    transition: ease .1s;
}

#NowPlaying-Content-ImageSmall {
    margin: 0 50px 0 0;
}

#NowPlaying-Content-ImageSmall,
#NowPlaying-Content-ImageSmall img {
    border-radius: 10px;
    width: 350px;
    height: 350px;
    transition: ease .1s;
}

#NowPlaying-Content-SongDetails {
    width: fit-content;
}

#NowPlaying-Content-SongDetails-Name {
    font-family: "Satoshi Bold";
    font-size: 36px;
    margin: 0 0 20px 10px;
}

#NowPlaying-Content-SongDetails-Description {
    height: 24px;
    display: flex;
    align-items: center;
}

#NowPlaying-Content-SongDetails-Description a {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#NowPlaying-Content-SongDetails-Description svg {
    width: 30px;
}

.NowPlaying-Content-SongDetails-Description-Text {
    text-align: center;
}

.NowPlaying-Content-SongDetails-Description-Separators {
    margin: 0 10px 0 18px;
    font-size: 3px;
}

#NowPlaying-Content-SongDetails-Description * {
    font-family: "satoshi Regular";
    font-size: 14px;
}

#NowPlaying-Content-Options {
    height: 40px;
    display: flex;
    margin: 20px 0;
    align-items: center;
}

#NowPlaying-Content-Options-Play {
    cursor: pointer;
}

#NowPlaying-Content-SongGenres {
    display: flex;
    flex-wrap: wrap;
}

#NowPlaying-Content-Artist {
    margin: 20px 0;
}

.NowPlaying-Content-SongGenres-Elements {
    padding: 10px 20px;
    margin: 5px;
    height: 20px;
    border-radius: 44px;
    border: 2px rgba(137, 137, 137, 25%) solid;
    color: var(--FgSecondary);
    font-family: "satoshi Medium";
    font-size: 15px;
}

.NowPlaying-Content-SongGenres-Elements:hover {
    color: var(--FgPrimary);
    border: 2px var(--FgPrimary) solid;
}

.NowPlaying-Content-Artist-Element * {
    font-family: "Satoshi Medium";
    font-size: 16px;
}

.NowPlaying-Content-Artist-Element {
    height: 60px;
    display: flex;
}

.NowPlaying-Content-Artist-Element-Image {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 0 20px 0 0;
}

.NowPlaying-Content-Artist-Element-Details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.NowPlaying-Content-Artist-Element-Details p {
    color: var(--FgPrimary);
}

.NowPlaying-Content-Artist-Element-Details span {
    color: var(--FgSecondary);
}