#Library {
    position: relative;
    box-sizing: border-box;
    grid-area: library;
    margin: 0 7px;
    height: 100%;
    border-radius: 0 0 10px 10px;
}

#Library_after {
    box-sizing: border-box;
    position: absolute;
    width: 4px;
    height: calc(100% - 20px);
    content: "";
    top: 10px;
    cursor: grab;
    transition: .2s ease;
}

#Library_after:hover {
    background: var(--FgPrimary);
}

#Library.Library-Compact-Off #Library_after {
    right: -3px;
}

#Library.Library-Compact-On #Library_after {
    right: -4px;
}

#Library-List {
    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

#Library-List.Library-Compact-On {
    align-items: center;
}

#Library-List.Library-Compact-On .Library-List-Element,
#Library-List.Library-Compact-On .Library-List-Element a {
    width: 50px;
}

#Library-List.Library-Compact-On .Library-List-Element a {
    overflow: hidden;
}

.Library-Compact-Off {
    width: 190px;
}

#Library.Library-Compact-On {
    width: 55px;
}

.Library-Active {
    background-color: var(--BgPrimary);
}

.Library-List-Element {
    padding: 0 5px;
    border-radius: 10px;
    font-family: "Satoshi Bold";
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin: 5px 0;
}

.Library-List-Element a {
    text-wrap: nowrap;
    width: 100%;
    height: 100%;
}

#Library-List.Library-Compact-On .Library-List-Element svg {
    transform: scale(.9);
}

.Library-List-Element span.Library-Compact-On {
    display: none;
}

#Library .Library-List-Element:hover a {
    background: var(--BgPrimary);
}

#Library.Library-Active .Library-List-Element:hover a {
    background: var(--BgMain);
}

.Library-List-Element a {
    color: var(--FgSecondary);
    font-family: "Satoshi Bold";
    display: flex;
    align-items: center;
    box-sizing: border-box;
}