aside#Friends {
    grid-area: Friends;
    width: calc(100% - 5px);
    height: 100%;
    padding: 26px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: 1px var(--StrokeDef) solid;
}

/* -------- Playlist -------- */

.Playlist {
    display: flex;
    height: 250px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    border-radius: 10px;
}

.Playlist:hover {
    background-color: var(--BgPrimary);
}

.Playlist-Image {
    display: flex;
    flex-direction: column;
    align-items: center;
    mask-image: linear-gradient(transparent,
            black 5%);
}

.Playlist-Image-Element {
    width: 170px;
    height: 170px;
    border-radius: 7.25px;
}

.Playlist-Image-DominantColor_Top,
.Playlist-Image-DominantColor_Middle {
    border-radius: 7.25px 7.25px 0 0;
}

.Playlist-Image-DominantColor_Top {
    width: 80%;
    height: 3px;
}

.Playlist-Image-DominantColor_Middle {
    width: 90%;
    height: 6px;
}

.Playlist-Details {
    width: 170px;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.Playlist-Details-Title {
    color: var(--FgPrimary);
    white-space: nowrap;
    font-size: 16px;
}

.Playlist-Details-Description {
    color: var(--FgSecondary);
    font-size: 13px;
}

.Playlist-Details-Title,
.Playlist-Details-Description {
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Satoshi Medium";
}

/* -------- Player --------- */

#Main-Player {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-areas: "Controls Song Options";
    grid-template-columns: 45% 20% 35%;
    align-items: center;
    border-radius: 10px;
    background-color: var(--BgSecondary);
    padding: 0 15px;
    transition: ease .2s;
    box-sizing: border-box;
}

@media (max-width: 1350px) {
    #Main-Player {
        grid-template-columns: 35% 20% 45%;
    }
}

#Main-Player * {
    font-family: "Satoshi Regular";
    font-size: 12px;
}

#Main-Player-Controls {
    grid-area: Controls;
    display: flex;
    align-items: center;
}

#Main-Player-Controls-Play {
    width: 55px;
    height: 55px;
    display: grid;
    place-content: center;
}

.Main-Player-Controls-Repeat-Button-Elements {
    width: 40px;
    height: 55px;
}

#Main-Player-Controls-Play-Button,
#Main-Player-Controls-Repeat-Button {
    display: grid;
    place-content: center;
}

#Main-Player-Controls-Play-Button svg,
#Main-Player-Controls-Repeat-Button svg {
    transition: .2s ease;
}

#Main-Player-Controls-Play-Button:hover svg,
#Main-Player-Controls-Repeat-Button:hover svg {
    transform: perspective(0px) scale(0.7);
}

#Main-Player-Controls-Play-Button:focus,
#Main-Player-Controls-Repeat-Button:focus {
    background-color: transparent;
}

#Main-Player-Controls-Timeline {
    width: 400px;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Main-Player-Controls-Timeline span {
    width: 4ch;
    min-width: 4ch;
    max-width: 4ch;
    margin: 0 10px;
    text-align: center;
}

#Main-Player-Controls-Timeline-Slider {
    appearance: none;
    width: calc(100% - 108px);
    min-width: 150px;
    height: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#Main-Player-Controls-Timeline-Slider::-webkit-slider-thumb {
    position: relative;
    appearance: none;
    border-radius: 5px;
    width: 5px;
    height: 5px;
    border: none;
    outline: none;
    background: var(--FgPrimary);
    transition: all .2s ease
}

/* ----- Player Song ----- */

#Main-Player-Song {
    grid-area: Song;
    display: flex;
    width: 200px;
    height: 55px;
    justify-content: center;
}

#Main-Player-Song-Cover {
    width: 55px;
    height: 55px;
    border-radius: 3px;
}

#Main-Player-Song-Details {
    margin: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#Main-Player-Song-Details-Name,
.Main-Player-Song-Details-Extra {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#Main-Player-Song-Details-Name {
    color: var(--FgPrimary);
    font-family: "Satoshi Bold";
    font-size: 14px;
}

.Main-Player-Song-Details-Extra {
    color: var(--FgCuartionary);
}

.Main-Player-Song-Details-Extra *:focus {
    background-color: transparent;
}