#Sidebar {
    grid-area: Sidebar;
    width: calc(100% - 5px);
    height: 100%;
    padding: 26px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: 1px var(--StrokeDef) solid;
}

/* -------- Playlist -------- */
.Song,
.Artist,
.Playlist {
    position: relative;
    display: flex;
    height: 250px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    border-radius: 10px;
}

.Playlist-Image:after {
    position: absolute;
    content: "Album";
    padding: 2.5px 5px;
    left: -100%;
    top: 9px;
    color: var(--FgPrimary);
    background: var(--BgSecondary);
    border-radius: 5px 0 5px 0;
}

.Playlist:hover .Playlist-Image:after {
    left: 0;
    animation: AppearAlbum .2s ease;
}

@keyframes AppearAlbum {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

.Song:hover,
.Artist:hover,
.Playlist:hover {
    background-color: var(--BgSecondary);
}

#Song-Image-Play-Active,
#Playlist-Image-Play-Active,
.Song:hover .Song-Image-Play,
.Artist:hover .Artist-Image-Play,
.Playlist:hover .Playlist-Image-Play {
    z-index: 5;
    bottom: 0;
    opacity: 1;
}

.Song-Image,
.Playlist-Image {
    overflow: hidden;
}

.Artist-Image {
    position: relative;
    border-radius: 85px;
}

.Song-Image {
    position: relative;
    height: calc(170px + 9px);
}

.Playlist-Image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    mask-image: linear-gradient(transparent,
            black 5%);
}

.Song-Image-Element {
    margin: 9px 0 0 0;
}

.Song-Image-Element,
.Artist-Image-Element,
.Playlist-Image-Element {
    width: 170px;
    height: 170px;
}

.Artist-Image-Element {
    border-radius: 85px;
}

.Song-Image-Element,
.Playlist-Image-Element {
    border-radius: 7.25px;
}

.Artist-Image-Play,
.Song-Image-Play,
.Playlist-Image-Play {
    opacity: 0;
    display: grid;
    place-content: center;
    position: absolute;
    right: 0px;
    bottom: -5px;
    transition: .2s ease;
}

.Playlist-Image-DominantColor_Top,
.Playlist-Image-DominantColor_Middle {
    border-radius: 7.25px 7.25px 0 0;
}

.Playlist-Image-DominantColor_Top {
    width: 80%;
    height: 3px;
}

.Playlist-Image-DominantColor_Middle {
    width: 90%;
    height: 6px;
}

.Artist-Details,
.Song-Details,
.Playlist-Details {
    width: 170px;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.Artist-Details-Title,
.Song-Details-Title,
.Playlist-Details-Title {
    color: var(--FgPrimary);
    white-space: nowrap;
    font-size: 16px;
}

.Artist-Details-Description,
.Song-Details-Description,
.Playlist-Details-Description {
    color: var(--FgSecondary);
    font-size: 13px;
}

.Artist-Details-Title,
.Artist-Details-Description,
.Song-Details-Title,
.Song-Details-Description,
.Playlist-Details-Title,
.Playlist-Details-Description {
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Satoshi Medium";
}

/* -------- Player --------- */

#Main-Player {
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-areas: "Controls Song Options";
    grid-template-columns: 40% 20% 40%;
    align-items: center;
    border-radius: 10px;
    background-color: var(--BgSecondary);
    padding: 0 15px;
    transition: ease .2s;
    box-sizing: border-box;
}

#Main-Player * {
    font-family: "Satoshi Regular";
    font-size: 12px;
}

#Main-Player-Controls {
    grid-area: Controls;
    display: flex;
    align-items: center;
}

#Main-Player-Controls-Play {
    width: 55px;
    height: 55px;
    display: grid;
    place-content: center;
}

.Main-Player-Controls-Button-Elements {
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    
}

.Main-Player-Controls-Button-Elements * {
    stroke: var(--FgPrimary)
}

#Main-Player-Controls-Play,
#Main-Player-Controls-Play-Button,
.Main-Player-Controls-Button,
.Main-Player-Controls-Button button {
    display: grid;
    place-content: center;
    overflow: hidden;
}

.Main-Player-Controls-Button-Elements svg {
    transition: .2s ease;
}

.Main-Player-Controls-Button-Elements:hover svg {
    transform: perspective(0px) scale(0.7);
}

#Main-Player-Controls-Timeline {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Main-Player-Options-Separator {
    width: 2px;
    height: 43px;
    margin: 0 9px;
    background: var(--FgSecondary);
}

#Main-Player-Options-Volume {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: .2s ease;
    width: 55px;
    min-width: 55px;
}

#Main-Player-Options-Volume * {
    stroke: var(--FgPrimary)
}

#Main-Player-Options-Volume:hover {
    width: 125px;
    min-width: 125px;
}

#Main-Player-Options-Volume:hover #Main-Player-Options-Volume-Slider {
    transition: .2s ease;
    width: 75px;
}

#Main-Player-Controls-Timeline {
    width: 400px;
    min-width: 250px;
}

#Main-Player-Controls-Timeline span {
    width: 4ch;
    min-width: 4ch;
    max-width: 4ch;
    margin: 0 10px;
    text-align: center;
}

#Main-Player-Options-Volume-Slider,
#Main-Player-Controls-Timeline-Slider {
    appearance: none;
    height: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#Main-Player-Options-Volume-Slider {
    width: 0;
}

#Main-Player-Controls-Timeline-Slider {
    width: calc(100% - 108px);
    min-width: 150px;
}

#Main-Player-Options-Volume-Slider::-webkit-slider-runnable-track,
#Main-Player-Controls-Timeline-Slider::-webkit-slider-runnable-track {
    height: 8px;
    background-color: transparent;
    display: flex;
    align-items: center;
}

#Main-Player-Options-Volume-Slider::-webkit-slider-thumb,
#Main-Player-Controls-Timeline-Slider::-webkit-slider-thumb {
    position: relative;
    appearance: none;
    border-radius: 5px;
    width: 0px;
    height: 5px;
    margin: 2px 0;
    border: none;
    outline: none;
    background: var(--FgPrimary);
    transition: all .1s ease
}

#Main-Player-Options-Volume-Slider:hover:-webkit-slider-thumb,
#Main-Player-Controls-Timeline-Slider:hover::-webkit-slider-thumb {
    height: 12px;
}

#Main-Player-Options-Volume-Slider:hover::-webkit-slider-thumb,
#Main-Player-Controls-Timeline-Slider:hover::-webkit-slider-thumb {
    margin: -2px 0 0 -2px;
    width: 12px;
    height: 12px;
}

/* ----- Player Song ----- */

#Main-Player-Song {
    grid-area: Song;
    display: flex;
    width: 200px;
    height: 55px;
    justify-content: center;
}

#Main-Player-Song-Cover-Replace,
#Main-Player-Song-Cover {
    width: 55px;
    height: 55px;
    border-radius: 3px;
    transition: .1s ease;
}

#Main-Player-Song-Cover-Replace {
    background: var(--FgTertiary);
}

#Main-Player-Song-Cover:hover {
    filter: drop-shadow(0 0 5px black);
    transform: scale(.95);
}

#Main-Player-Song-Details {
    margin: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#Main-Player-Song-Details span {
    display: flex;
    align-items: center;
}

#Main-Player-Song-Details-Name,
.Main-Player-Song-Details-Extra {
    width: 100%;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#Main-Player-Song-Details-Name * {
    color: var(--FgPrimary);
    font-family: "Satoshi Bold";
    font-size: 14px;
}

.Main-Player-Song-Details-Extra-Replace,
#Main-Player-Song-Details-Name-Link-Replace {
    min-width: 75px;
    background-color: var(--FgTertiary);
}

.Main-Player-Song-Details-Extra-Replace {
    height: 10px;
}

#Main-Player-Song-Details-Name-Link-Replace {
    height: 18px;
}

.Main-Player-Song-Details-Extra {
    color: var(--FgCuartionary);
}

.Main-Player-Song-Details-Extra-Replace *:focus,
.Main-Player-Song-Details-Extra *:focus {
    background-color: transparent;
}

/* ----- Player Options ----- */

#Main-Player-Options {
    grid-area: Options;
    display: flex;
    height: 55px;
    justify-content: flex-end;
    align-items: center;
}

/* ------ Queue List ------ */
#Sidebar-Queue-Title,
#Sidebar-Queue-SecondTitle {
    font-family: "Satoshi Bold";
}

#Sidebar-Queue-SecondTitle {
    margin: 30px 0 12.5px;
}

#Sidebar-Queue {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Sidebar-Queue-Elements {
    width: 100%;
    display: flex;
    align-items: center;
}

.Sidebar-Queue-Elements:nth-child(even) {
    margin: 11px 0;
}

.Sidebar-Queue-Elements-Image,
.Sidebar-Queue-Elements-Image img {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#Sidebar-Queue-Elements-Image-NowPlaying {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 51%);
    display: grid;
    place-content: center;
}

.Sidebar-Queue-Elements-Details {
    font-family: "Satoshi Medium";
    margin: 0 0 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40px;
}

.Sidebar-Queue-Elements-Details p {
    font-size: 16px;
    color: var(--FgPrimary);
}

.Sidebar-Queue-Elements-Details small {
    color: var(--FgSecondary);
}

/* ------ Media Queries ------ */

@media (max-width: 1350px) {
    #Main-Player {
        grid-template-columns: 50% 20% 30%;
    }
}

@media (max-width: 1025px) {
    #Main-Player-Controls-Timeline {
        display: none;
        width: 0;
        min-width: 0;
        overflow: hidden;
    }

    #Main-Player-Controls {
        justify-content: space-evenly;
    }
}